
:root {
  --first-color: hsl(353, 100%, 65%);
  --title-color: hsl(309, 79%, 47%);
  --text-color: hsl(320, 64%, 37%);
  --body-color: hsl(258, 60%, 98%);
  --container-color: #fff;
  --border-color: rgba(0, 0, 0, 0.05);

  --body-font: "Noto Sans", san-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;

  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);

  --border-radius: 20px;
}


.tabs {
  height: 100%;
  display: flex;
  position: relative;
}

.tab__list {
  width: 15rem;
}

.tab__panel {
  flex: 1;
  display: none;
  padding: 1.5rem 2rem;
  background-color: var(--container-color);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.tab__panel.is-active {
  display: block;
}

.tab__panel-list li {
  position: relative;
  padding-left: 20px;
}

.tab__panel-list li::before {
  content: "▹";
  position: absolute;
  left: 0;
}

.button {
  display: inline-block;
  width: 100%;
  padding: 50px;
  cursor: pointer;
  font-size:50px;
  color: var(--title-color);
}

.tab:first-child .button {
  border-top-left-radius: var(--border-radius);
}

.tab:last-child .button {
  border-bottom-left-radius: var(--border-radius);
}

.button:focus,
.button:hover {
  outline: 0;
  color: var(--first-color);
}

.tab.is-active .button {
  background-color: var(--container-color);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  box-shadow: var(--shadow);
  color: var(--first-color);
}

.tab__panel:first-of-type.is-active,
.tab__panel:last-child.is-active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

@media screen and (max-width: 768px) {
  .resume__container {
    max-width: 350px;
    margin: 0 auto;
  }

  .tabs {
    flex-wrap: wrap;
  }

  .tab__list {
    width: 100vw;
    margin-bottom: 1.25rem;
  }

  .tab__panel:first-of-type.is-active,
  .tab__panel:last-child.is-active {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
  }

  .tab.is-active .button {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }
}

.tab__panel-title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
  color: var(--title-color);
}

[data-theme="dark"] .tab__panel-title {
  color: #fff;
}

.tab__panel-subtitle {
  font-size: var(--normal-font-size);
  margin-bottom: 1rem;
}

[data-theme="dark"] .tab__panel-subtitle {
  color: #f8f9fa;
}
.container {
  max-width: 1080px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 7rem;
  padding-bottom: 2rem;
}
ul {
  list-style: none;
}
.timeline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.timeline-item {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  position: relative;
}

.timeline-dot {
  width: 10px;
  height: 10px;
  background-color: #0073b1; /* LinkedIn Blue */
  border-radius: 50%;
  position: relative;
  margin-top: 10px;
}

.timeline-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 110px;
  background-color: #0073b1;
  top: 15px;
  left: 4px;
}

.timeline-content {
  flex: 1;
}
